/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/* layout */
.container {
  width: 967px;
  margin: 0 auto;
}

.header__sub-menu,
.footer__sub-menu {
  background-color: #333;
}

.section-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3.125rem;
  position: relative;
}

.section-title::after {
  content: '';
  width: 68px;
  height: 4px;
  background-color: #29abe2;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* header */
.header__sub-menu {
  min-height: 50px;
  padding: 1rem;
  font-size: 0.75rem;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__social-media__link {
  margin-left: 10px;
}

.header__logo {
  padding: 1.5rem 0;
  text-align: center;
}

.header__main-menu {
  position: relative;
}

.sub-menu__nav__list {
  display: flex;
  justify-content: space-between;
}

.sub-menu__nav__item + .sub-menu__nav__item {
  margin-left: 25px;
}

.sub-menu__nav__link {
  color: #fff;
}

.main-menu__container {
  display: flex;
  justify-content: space-between;
}

.main-menu__container::before {
  content: '';
  background-color: #f2f2f2;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.main-menu__nav__list {
  display: flex;
  justify-content: center;
}

.main-menu__nav__item + .main-menu__nav__item {
  margin-left: 50px;
}

.main-menu__nav__link {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.2s;
}

.main-menu__nav__link:hover {
  color: #29abe2;
  border-bottom: 4px solid #29abe2;
}

/* section Hero */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto 6rem;
  width: 1170px;
  height: 490px;
  position: relative;
}

.hero::after {
  content: '';
  background-image: url(/images/arrow-right-icon.svg);
  width: 41px;
  height: 33px;
  position: absolute;
  right: 70px;
  top: 50%;
  z-index: 10;
}

.hero__box {
  background-color: #fff;
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 2rem 100px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.hero__author {
  order: -1;
  font-size: 0.875rem;
  font-weight: 100;
}

/* section Latest Stories */
.article-intro__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-intro {
  flex-basis: 31%;
  margin-bottom: 40px;
}

.article-intro__image {
  width: 100%;
}

.article-intro__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.35rem;
  padding: 0.75rem 0;
}

.article-intro__info {
  font-size: 0.875rem;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}

/* section In Pictures */
.in-pictures {
  background-color: #f2f2f2;
}

.in-pictures__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.in-pictures__box_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.in-pictures__link {
  flex-basis: 31%;
  position: relative;
}

.in-pictures__image {
  width: 100%;
  opacity: 0.5;
}

.in-pictures__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* sections Economy & Health */
.economy-health__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.economy__title,
.health__title {
  padding-top: 3rem;
}

.economy {
  flex-basis: 65%;
}

.economy__article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.economy__article-intro {
  flex-basis: 47.5%;
}

.health {
  flex-basis: 31%;
}

/* footer */
.footer {
  position: relative;
}

.footer__logo {
  padding: 1.5rem 0;
  text-align: center;
}

.footer__logo::before {
  content: '';
  background-color: #f2f2f2;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__sub-menu {
  min-height: 50px;
  padding: 2rem;
  font-size: 0.75rem;
  color: #fff;
}

.footer__info__link, .footer__info__copyright {
  color: #29abe2;
}
