$accent-blue: #29abe2;
$dark-grey: #333;
$light-grey: #f2f2f2;

/* Basic styles */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Catamaran', sans-serif;
}

li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

/* layout */

.container {
	width: 967px;
	margin: 0 auto;
	// background-color: lightblue;
}

.header__sub-menu,
.footer__sub-menu {
	background-color: $dark-grey;
}

.section-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 3.125rem;
	position: relative;

	&::after {
		content: '';
		width: 68px;
		height: 4px;
		background-color: $accent-blue;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

/* header */

.header__sub-menu {
	min-height: 50px;
	padding: 1rem;
	font-size: 0.75rem;
	color: #fff;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.sub-menu__nav__list {
	display: flex;
	justify-content: space-between;
}

.sub-menu__nav__item + .sub-menu__nav__item {
	margin-left: 25px;
}

.sub-menu__nav__link {
	color: #fff;
}

.header__social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__link {
		margin-left: 10px;
	}
}

.header__logo {
	padding: 1.5rem 0;
	text-align: center;
}

.main-menu__container {
	display: flex;
	justify-content: space-between;
}

.main-menu__nav__list {
	display: flex;
	justify-content: center;
}

.main-menu__nav__item + .main-menu__nav__item {
	margin-left: 50px;
}

.main-menu__nav__link {
	font-size: 0.875rem;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.2s;
	&:hover {
		color: $accent-blue;
		border-bottom: 4px solid $accent-blue;
	}
}

/* section Hero */

.hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto 6rem;
	width: 1170px;
	height: 490px;
	position: relative;

	&::after {
		content: '';
		background-image: url(/images/arrow-right-icon.svg);
		width: 41px;
		height: 33px;
		position: absolute;
		right: 70px;
		top: 50%;
		z-index: 10;
	}

	&__box {
		background-color: #fff;
		width: 600px;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1rem 1rem 2rem 100px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.8rem;
	}

	&__author {
		order: -1;
		font-size: 0.875rem;
		font-weight: 100;
	}
}

/* section Latest Stories */

.article-intro__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.article-intro {
	flex-basis: 31%;
	margin-bottom: 40px;

	&__image {
		width: 100%;
	}

	&__title {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.35rem;
		padding: 0.75rem 0;
	}

	&__info {
		font-size: 0.875rem;
		font-weight: 100;
		display: flex;
		justify-content: space-between;
	}
}

.article-intro + .article-intro {
	// margin-left: 30px;
}

// In Pictures section

.in-pictures {
	background-color: $light-grey;
}

// footer
