$accent-blue: #29abe2;
$dark-grey: #333;
$light-grey: #f2f2f2;

/* Basic styles */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Catamaran', sans-serif;
}

img {
	width: 100%;
}

li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

// layout

.container {
	padding: 0 1rem;
}

.header__sub-menu,
.footer__sub-menu {
	background-color: $dark-grey;
}

.header {
	&__sub-menu {
		display: none;
	}

	&__main-menu {
		display: none;
	}
}

.logo {
	padding: 1.5rem 0;
	text-align: center;

	&__image {
		width: auto;
	}
}

// section Hero

.hero {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 1rem;
	width: 100%;
	height: 460px;
	position: relative;

	&::after {
		content: '';
		background-image: url(/images/arrow-right-icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 30px;
		height: 20px;
		position: absolute;
		right: 7%;
		top: 50%;
		z-index: 10;
	}

	&__box {
		background-color: #fff;
		width: 100%;
		padding: 0 25px;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.8rem;
	}

	&__author {
		order: -1;
		font-size: 0.875rem;
		font-weight: 100;
	}
}

.main {
	margin-top: -130px;
}

.section-title {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.5rem;
	position: relative;

	&::after {
		content: '';
		width: 68px;
		height: 4px;
		background-color: $accent-blue;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.article-intro {
	flex-basis: 31%;
	margin-bottom: 40px;

	&__title {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.35rem;
		padding: 0.75rem 0;
	}

	&__info {
		font-size: 0.875rem;
		font-weight: 100;
		display: flex;
		justify-content: space-between;
	}
}

// section In Pictures

.in-pictures {
	background-color: $light-grey;
	padding-bottom: 1rem;

	&__title {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		padding-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&__box {
		margin-bottom: 1rem;
	}

	&__icon {
		display: none;
	}
}

.economy__title,
.health__title {
	padding-top: 1.5rem;
}

.footer {
	&__sub-menu {
		min-height: 50px;
		padding: 2rem 0;
		font-size: 0.75rem;
		color: #fff;
	}
}

.sub-menu,
.social-media {
	&__link {
		color: #fff;
		&:hover {
			color: $accent-blue;
		}
	}
}

.footer-info {
	margin-top: 1rem;

	&__link,
	&__copyright {
		color: $accent-blue;
	}
}

@media (min-width: 765px) {
	/* layout */

	.container {
		padding: 0 2rem;
	}

	/* header */

	.header {
		&__sub-menu {
			display: block;
			min-height: 50px;
			padding: 1rem;
			font-size: 0.75rem;
			color: #fff;
		}

		&__container {
			display: flex;
			justify-content: space-between;
		}

		&__main-menu {
			display: block;
			position: relative;
		}
	}

	.sub-menu {
		&__list {
			display: flex;
		}

		&__item + &__item {
			margin-left: 25px;
		}

		&__link {
			color: #fff;
		}
	}

	.social-media {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__link {
			margin-left: 10px;
		}

		&__icon {
			font-size: 15px;
		}
	}

	.main-menu {
		display: flex;
		justify-content: space-between;

		&::before {
			content: '';
			background-color: $light-grey;
			height: 2px;
			width: 100%;
			position: absolute;
			bottom: -2px;
			left: 0;
		}
	}

	.main-menu {
		&__nav {
			width: 100%;
		}
		&__list {
			display: flex;
			justify-content: center;
		}

		&__item {
			flex-grow: 1;
		}

		&__link {
			font-size: 0.875rem;
			font-weight: 400;
			text-transform: uppercase;
			transition: all 0.2s;
			&:hover {
				color: $accent-blue;
				border-bottom: 4px solid $accent-blue;
			}
		}
	}

	// section Hero

	.hero {
		background-repeat: no-repeat;

		background-position: center;
		margin: 0 auto 6rem;
		width: 100%;
		position: relative;

		&::after {
			content: '';
			background-image: url(/images/arrow-right-icon.svg);
			width: 41px;
			height: 33px;
			position: absolute;
			right: 70px;
			top: 50%;
			z-index: 10;
		}

		&__box {
			background-color: #fff;
			width: 600px;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 1rem 1rem 2rem 115px;
			display: flex;
			flex-direction: column;
		}

		&__title {
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1.8rem;
		}

		&__author {
			order: -1;
			font-size: 0.875rem;
			font-weight: 100;
		}
	}

	/* section Latest Stories */

	.main {
		margin-top: 0;
	}

	.section-title {
		margin-bottom: 3.125rem;
	}

	// section Latest Stories

	.article-intro {
		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__excerpt {
			line-height: 1.3;
			margin-bottom: 15px;
		}
	}

	/* section In Pictures */

	.in-pictures {
		&__title {
			padding-top: 2.5rem;
			margin-bottom: 2.5rem;
		}

		&__box_container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 5rem;
		}

		&__link {
			flex-basis: 31%;
			position: relative;
			transition: all 0.4s;
			&:hover {
				transform: scale(1.05);
			}
		}

		&__box {
			margin-bottom: 0;
		}

		&__image {
			width: 100%;
			opacity: 0.5;
			transition: all 0.4s;
			&:hover {
				opacity: 1;
			}
		}

		&__icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
		}
	}

	/* sections Economy & Health */

	.economy-health__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.economy__title,
	.health__title {
		padding-top: 3rem;
	}

	.economy {
		flex-basis: 65%;

		&__article-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&__article-intro {
			flex-basis: 47.5%;
		}
	}

	.health {
		flex-basis: 31%;
	}

	/* footer */

	.footer {
		position: relative;

		&__logo {
			padding: 1.5rem 0;
			text-align: center;
			&::before {
				content: '';
				background-color: $light-grey;
				height: 2px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__sub-menu {
			min-height: 50px;
			font-size: 0.75rem;
			color: #fff;
		}
	}

	.footer-info {
		margin-top: 15px;
	}
}

@media (min-width: 1024px) {
	.container {
		margin: 0 auto;
		width: 967px;
	}

	.main-menu {
		&__item + &__item {
			margin-left: 50px;
		}
	}

	.hero {
		background-size: cover;
		width: 1170px;
		height: 490px;
	}

	.footer {
		&__container {
			flex-direction: row;
		}
	}

	.sub-menu {
		margin-bottom: 0;

		&__list {
			justify-content: space-between;
		}
	}

	.footer-info {
		margin-top: 0;
	}
}
