// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
	&__sub-menu {
		min-height: 50px;
		padding: 2rem 0;
		font-size: 0.75rem;
		color: #fff;
	}
}

.footer-info {
	margin-top: 1rem;

	&__link,
	&__copyright {
		color: $accent-blue;
	}
}

@media (min-width: 765px) {
	.footer {
		position: relative;

		&__logo {
			padding: 1.5rem 0;
			text-align: center;
			&::before {
				content: '';
				background-color: $light-grey;
				height: 2px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__sub-menu {
			min-height: 50px;
			font-size: 0.75rem;
			color: #fff;
		}
	}

	.footer-info {
		margin-top: 15px;
	}
}

@media (min-width: 1024px) {
	.footer {
		&__container {
			flex-direction: row;
		}
	}

	.footer-info {
		margin-top: 0;
	}
}
