// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header__top-bar,
.footer__sub-menu {
	background-color: $primary-dark;
}

.header {
	&__top-bar {
		display: none;

		@media (min-width: $md) {
			display: block;
			min-height: 50px;
			padding: 1rem 0;
			font-size: 0.75rem;
			color: #fff;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__mobile-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__toggle-menu {
		@media (min-width: $md) {
			display: none;
		}
	}

	&__main-menu {
		display: none;

		@media (min-width: $md) {
			display: block;
			position: relative;
		}
	}
}
