.article-intro {
	flex-basis: 31%;
	margin-bottom: 40px;

	&__container {
		@media (min-width: 765px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__title {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.35rem;
		padding: 0.75rem 0;
	}

	&__excerpt {
		@media (min-width: 765px) {
			line-height: 1.3;
			margin-bottom: 15px;
		}
	}

	&__info {
		font-size: 0.875rem;
		font-weight: 100;
		display: flex;
		justify-content: space-between;
	}
}
