.social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--footer {
		width: 30%;
		margin-top: 1rem;

		@media (min-width: $md) {
			display: none;
		}
	}

	&__link {
		color: #fff;
		&:hover {
			color: $accent;
		}

		@media (min-width: $md) {
			margin-left: 10px;
		}
	}

	&__icon {
		@media (min-width: $md) {
			font-size: 15px;
		}
	}
}
