.sub-menu {
	@media (min-width: $lg) {
		margin-bottom: 0;
	}

	&__list {
		@media (min-width: $md) {
			display: flex;
		}

		@media (min-width: $lg) {
			justify-content: space-between;
		}
	}

	&__item + &__item {
		@media (min-width: $md) {
			margin-left: 25px;
		}
	}

	&__link {
		color: #fff;
		&:hover {
			color: $accent;
		}

		@media (min-width: $md) {
			color: #fff;
		}
	}
}
