// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
	padding: 0 1rem;

	@media (min-width: 765px) {
		padding: 0 2rem;
	}

	@media (min-width: 1024px) {
		margin: 0 auto;
		width: 967px;
	}
}
