// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
	width: 85%;
	margin: 0 auto;

	@media (min-width: $md) {
		width: 90%;
	}

	@media (min-width: $lg) {
		max-width: 967px;
	}
}
