// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$accent-blue: #29abe2;
$dark-grey: #333;
$light-grey: #f2f2f2;
