// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Colors

// accent blue
$accent: #29abe2;
// header & footer background
$primary-dark: #333;
// section In pictures background
$primary-light: #f2f2f2;
